<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>CONTACTOS</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<p>NUESTROS CONTACTOS</p>

<!--boton redireccionado a la pagina de whatsapp-->
<ion-button color="success" shape="round "href="https://www.whatsapp.com"><ion-icon name="logo-whatsapp" ></ion-icon>whatsapp</ion-button>

<!--//boton redireccionado a la pagina de gmail-->
<ion-button color="warning" shape="round "href="https://www.google.com/intl/es-419/gmail/about/"><ion-icon name="mail-outline" ></ion-icon>gamil</ion-button>

<!--//boton redireccionado a la pagina de facebook-->
<ion-button color="tertiary" shape="round "href="https://www.google.com/search?client=opera-gx&q=facebook&sourceid=opera&ie=UTF-8&oe=UTF-8"><ion-icon name="logo-facebook" ></ion-icon>facebook</ion-button>

<!--boton redireccionado a la pagina de twitter-->
<ion-button color="primary" shape="round "href="https://www.twitter.com"><ion-icon name="logo-twitter" ></ion-icon>twitter</ion-button>

<!--boton redireccionado a la pagina de instagram-->
<ion-button color="danger" shape="round "href="https://www.instagram.com"><ion-icon name="logo-instagram"></ion-icon>instagram</ion-button>

<ion-button color="warning" routerLink="/home"><ion-icon name="home"></ion-icon>inicio</ion-button>

</ion-content>