<ion-header>
  <ion-toolbar>
   
    <ion-title>¿quienes somos?<ion-icon name="help-circle"></ion-icon></ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  La página Quiénes Somos es el punto de mira para muchos de tus clientes, de hecho las estadísticas confirman que es una de las páginas más visitadas de una web porque es la que más habla de ti o de tu empresa y permite a los usuarios descubrir tu «rostro», algo fundamental para aumentar la credibilidad de tu marca.
  <ion-button color="warning" routerLink="/home"><ion-icon name="home"></ion-icon>inicio</ion-button>

</ion-content>