<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>inicio operaciones</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="warning" routerLink="/saludo">saludo<ion-icon name="hand-right-outline"></ion-icon></ion-button>
  <ion-button  routerLink="/calculadora">operaciones</ion-button>
  <ion-button  color="danger" routerLink="/home"><ion-icon name="home"></ion-icon>inicio</ion-button>
</ion-content>
